<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ content }}
    {{ content|safe }}
    使用safe过滤器
    {% autoescape off %}
        {{ content }}
        {{ content }}
        {{ content }}
    {% endautoescape %}
    <br>
    {{ test|default:'<h1>test</h1>'}}

    需要手动转义
    {{ test|default:'&lt;h1&gt;test&lt;/h1&gt;'}}
</body>
</html>